In [1]:
#first cleaning
import numpy as np
import re
import pandas as pd
data=pd.read_csv("update_rentdata_26102016.csv",sep=",")

data=data[data['propertyCode']!='propertyCode']
# esto elimina los indices de las filas eliminadas--> hay que arreglarlo

data = data.drop(['thumbnail', 'address','url','tenantGender','tenantNumber','isSmokingAllowed','distance'], axis=1)

pattern='^\d'
data['floor']=data['floor'].fillna(value='1000')
llista=[]
for element in tuple(data['floor']):
    f=bool(re.match(pattern,element))
    if f==False:
        llista=np.append(llista,element)
#print llista
for i in np.unique(llista):
    data[data['floor']==i]='0'

tofloat=['price','priceByArea','numPhotos','size','propertyCode','rooms','floor']
for col in tofloat:
    data[col]=data[col].astype(float)

data[data['floor']==1000]=np.nan

In [2]:
data.columns

Index([u'propertyCode', u'numPhotos', u'floor', u'price', u'propertyType',
       u'operation', u'size', u'exterior', u'rooms', u'bathrooms', u'province',
       u'municipality', u'district', u'country', u'neighborhood', u'latitude',
       u'longitude', u'showAddress', u'hasVideo', u'newDevelopment',
       u'hasLift', u'priceByArea'],
      dtype='object')

In [3]:
data.head()

,propertyCode,numPhotos,floor,price,propertyType,operation,size,exterior,rooms,bathrooms,...,district,country,neighborhood,latitude,longitude,showAddress,hasVideo,newDevelopment,hasLift,priceByArea
0,34953639.0,29.0,2.0,3200.0,flat,rent,175.0,True,4.0,2,...,Sarrià-Sant Gervasi,es,Sant Gervasi - La Bonanova,41.4009887,2.1340728,False,True,False,True,18.0
1,34953490.0,6.0,3.0,900.0,flat,rent,68.0,True,2.0,1,...,Ciutat Vella,es,El Raval,41.3729812,2.1731278,False,False,False,True,13.0
2,0.0,0.0,0.0,0.0,0,0,0.0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0.0
3,34953399.0,10.0,5.0,440.0,flat,rent,60.0,True,3.0,1,...,NaN,es,NaN,41.4050826,2.0252306,True,False,False,True,7.0
4,34953388.0,6.0,3.0,900.0,flat,rent,68.0,True,2.0,1,...,Sants-Montjuïc,es,El Poble Sec - Parc de Montjuïc,41.372675,2.1702429,False,False,False,True,13.0

In [40]:
fields=['price', 'size']

for f in fields:
    data[f]=data[f].fillna(value=data[f].mean())

In [52]:
len(data)

5350

In [51]:
#remove outliers price
per=np.percentile(np.array(data['price']), [2.5, 97.5])
data=data[data['price']>per[0]]
data=data[data['price']<per[1]]

In [55]:
#remove outliers size
per=np.percentile(np.array(data['size']), [2.5, 97.5])
data=data[data['size']>per[0]]
data=data[data['size']<per[1]]

In [56]:
len(data)

4419